            .header {
                color: rgb(106, 212, 212);
                margin-top: 200px
               
            }

            .form-floating {
                background-color: whitesmoke;
                padding: 20px;
                border: 1px solid #DADCE0;
                padding: 15px;
                border-radius: 4px;
                /* Tamanho do quadrado da div*/
                width: 26.9%;


            }

            body {
                --text-white: #ffffff;
                --text-dark: #142136;

                /* cores de fundo */
              
                --bg-blue-dark: #142136;
                --bg-indigo: #6366f1;

                font-family: "Inter", sans-serif;
                line-height: 1.7;
                background-color: var(--bg-grey-light);
            }

            .dark {
                --text-white: #e6e6e6;
                --text-dark: #ffffff;
                --bg-grey-light: #142136;
                --bg-white: #22395d;
                --bg-blue-dark: #142136;
                --bg-indigo: #7577e1;
            }

            .buttons {
                width: 00px;
                display: flex;
                justify-content: space-between;
                margin-bottom: 40px;
              
            }

            .button {
                width: 200px;
                padding: 5px;
                height: 40px;
                border: none;
                border-radius: 10px;
                font-family: inherit;
                cursor: pointer;
                background-color: var(--bg-indigo);
                color: var(--text-white);
                font-size: 16px;
                font-weight: 400;
                text-transform: capitalize;
              
            }

            #resultado {
                width: 250px;
                margin: 25px;
            }

            #Nome {
                width: 250px;
                margin: 25px;
            }

            #Peso {
                width: 250px;
                margin: 25px;
            }

            #Altura {
                width: 250px;
                margin: 25px;
            }

            #btn-calcular {
                margin: 25px;
            }

            #Apagar {
                margin-left: -225px;
                color: black;
                font-family: Apple Chancery, cursive;
                padding: 2.5px;
                height: 35px;
                width: 35px;
                border-radius: 100px;
            }
        